#comentario
/bin
/bin/.*
/target/
/target/.*
/target-deploy/
/target-deploy/.*
/\.settings/
/\.settings/.*
/\.project
/\.classpath
\Q/src/main/resources/rebel.xml\E
/src/main/resources/rebel.xml
/rebel.xml
/\.idea/*
/\.idea
=======
*.class
*.iml

# Package Files #
*.jar
*.war
*.ear